@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    font-family: "Nato Sans JP", sans-serif;
    color: #444444;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.content {
    max-width: 1920px;
    width: 100%;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    }

/*header*/
#header-inner {
    display: flex;
    max-width: 1180px;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 20px;
    box-sizing: border-box;
    align-items: center;
    box-sizing: border-box;
}

#header-inner .header-logo img {
    display: block;
    width: 263px;
    height: 73px;
}

#header-inner .header-text img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#header-inner .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 4px;
}

#header-inner .header-text p {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    letter-spacing: -0.001em;
}

#header-inner .header-text a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #21A937;
    font-weight: 700;
    letter-spacing: -0.004em;
    gap: 2px;
    text-decoration: none;
}

/*main*/
/*mainvisual*/
#mainvisual {
    position: relative;
    margin-bottom: 158px;
}

#mainvisual .copy-box {
    top: 14%;
    left: 11%;
    gap: 80px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}

#mainvisual .copy-box .copy-text {
    width: 102px;
    height: 565px;
    background: white;
}

#mainvisual .copy-box .item-text {
    writing-mode: vertical-rl;
    padding-top: 25px;
    padding-right:  27px;
    padding-left: 29px;
    font-size: 28px;
    color: #444444;
    letter-spacing: 0.25em;
    align-items: center;
}

#mainvisual .copy-box .item-text .text-color {
    color: #21A937;
}

/*philosophy*/
#philosophy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#philosophy .philosophy-text {
    width: 490px;
    height: 420px;
    padding: 19px 32px;
}

#philosophy .philosophy-text p {
    line-height: 2.5;
}

#philosophy .philosophy-text .text-item {
    display: inline-block;
    line-height: 2.7;
    margin-bottom: 20px;
}

#philosophy .philosophy-text .text-item span {
    background: linear-gradient(transparent 60%, rgb(159, 251, 159) 60%);
}

#philosophy .philosophy-img {
    width: 697px;
    height: 430px;
}

#philosophy .philosophy-img img {
    width: 100%;
    height: auto;
}

/*service*/
#service {
    background-color: #F5FCF8;
    height: 1520px;
}

#service .Treatment-details {
    max-width: 1180px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#service .Treatment-details .service-title {
    padding-top: 71px;
    font-size: 24px;
    margin-bottom: 68px;
}

#service .Treatment-details p {
    margin-bottom: 33px;
}

#service .Treatment-details .service-title span {
    background: linear-gradient(transparent 60%, rgb(110, 244, 110) 60%);
}
/*card*/
#service .Treatment-details .service-card {
    display: flex;
    gap: 20px;
}

#service .Treatment-details .service-card li {
    width: calc((100% - 40px) / 3);
    display: flex;
    flex-direction: column;
    height: 590px;
    background: white;
    border: 1px solid #e3e2e2;
    border-radius: 10px;
}

#service .Treatment-details .service-card .card-title {
    padding-top: 39px;
    font-size: 24px;
    padding-bottom: 47px;
}

#service .Treatment-details .service-card p {
    padding: 0 36px;
    line-height: 2.3;
    text-align: left;
}

#service .Treatment-details .service-card .service-img {
    height: 180px;
    margin-top: auto;
}

#service .Treatment-details .service-card .service-img img {
    height: auto;
    width: 50%;
}

/*notice*/
#service .notice {
    margin-bottom: 80px;
}

#service .notice .notice-title {
    font-size: 24px;
    margin-top: 82px;
    margin-bottom: 70px;
    text-align: center;
}

#service .notice .notice-title span {
    background:  linear-gradient(transparent 60%, rgb(110, 244, 110) 60%);
}

#service .notice .notice-card {
    max-width: 1180px;
    width: 100%;
    height: 390px;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    padding-top: 27px;
    padding-inline: 66px;
}

#service .notice .notice-card .notice-list .notice-item {
    display: flex;
    border-bottom: 1px solid rgb(219, 218, 218);
    padding: 18px 0;
}

#service .notice .notice-card .notice-list .notice-item .notice-date {
    font-weight: 400;
    color: #21A937;
    letter-spacing: -0.002;
}

#service .notice .notice-card .notice-list .notice-item .notice-category {
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    background:#444444;
    margin-inline: 26px;
    font-size: 12px;
}

#service .notice .notice-card .notice-list .notice-item .news-text {
    font-weight: 600;
    color: #444444;
}

#service .notice .news-more a {
    display: block;
    text-decoration: none;
    color: #444444;
    text-align: right;
    padding-top: 43px;
}

/* footer */
#information {
    margin-top: 185px;
    display: flex;
}

#information .map {
    margin-right: 40px;
}

#information .Business-hours .footer-logo {
    margin-bottom: 50px;
}

#information .Business-hours .footer-logo img {
    width: 50%;
}

#information .Business-hours .infomation-address {
    margin-bottom: 25px;
}

#information .Business-hours .infomation-address .post-code {
    margin-right: 20px;
}

#information .Business-hours a {
    display: inline-block;
    font-size: 20px;
    color: #21A937;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.004em;
    margin-bottom: 28px;
}

#information .Business-hours a img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#information .Business-hours .opening-hours {
    width: 100%;
    border-top: 1px solid  rgb(219, 218, 218);
    border-bottom: 1px solid  rgb(219, 218, 218);
    margin-bottom: 22px;
}

#information .Business-hours .opening-hours th {
    padding: 20px 15px 20px 0;
    position: relative;
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

#information .Business-hours .opening-hours th::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background: rgb(219, 218, 218);
}

#information .Business-hours .opening-hours .day {
    padding-left: 25px;
    padding-right: 22px;
}

#information .Business-hours .opening-hours .day span {
    background:  linear-gradient(transparent 60%, rgb(194, 249, 194) 60%)
}

#information .Business-hours .opening-hours .morning {
    padding-right: 15px;
}

#information .Business-hours .opening-hours td {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
    letter-spacing: -0.02px;
}

#information .Business-hours .opening-hours tr:last-child td {
    padding-top: 20px;
    padding-left: 25px;
}

#information .Business-hours .footer-bottom {
    text-align: right;
}

information .Business-hours .footer-bottom .copyright {
    font-size: 13px;
}

/*レスポンシブ*/
/* PCが基本 */
@media screen and (max-width: 1024px) {
  /* タブレット */
    #header-inner {
        height: 110px;
        padding: 20px 16px;
    }

    #header-inner .header-logo img {
        width: 220px;
        height: auto;
    }

    #header-inner .header-text p {
        font-size: 12px;
    }

    #header-inner .header-text a {
        font-size: 18px;
    }

    #header-inner .header-text img {
        width: 20px;
        height: 20px;
    }

    #mainvisual .copy-box {
        top: 12;
        left: 6;
        gap: 40px;
    }

    #mainvisual .copy-box .copy-text {
        width: 90px;
        height: 390px;
    }

    #mainvisual .copy-box .copy-text .item-text {
        font-size: 20px;
    }


}

@media screen and (max-width: 767px) {
  /* スマホ */
}